/**
Generics definitions
*/
html {
}

body {
	background-color: #FFF;
	width: 940px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	font: 13px Arial;
}
/**
Set the fill colors */
.fillColor1 { fill: #2f69bf; background-color: #2f69bf; }
.fillColor2 { fill: #a2bf2f; background-color: #a2bf2f; }
.fillColor3 { fill: #bf5a2f; background-color: #bf5a2f; }
.fillColor4 { fill: #bfa22f; background-color: #bfa22f; }
.fillColor5 { fill: #772fbf; background-color: #772fbf; }
.fillColor6 { fill: #bf2f2f; background-color: #bf2f2f; }
.fillColor7 { fill: #00327f; background-color: #00327f; }
.fillColor8 { fill: #667f00; background-color: #667f00; }

.color1 { color: #2f69bf; }
.color2 { color: #a2bf2f; }
.color3 { color: #bf5a2f; }
.color4 { color: #bfa22f; }
.color5 { color: #772fbf; }
.color6 { color: #bf2f2f; }
.color7 { color: #00327f; }
.color8 { color: #667f00; }
/**
In case we want to display the box shadow around
body {
	margin-top: 50px;
	-moz-box-shadow: #dddddd 1px 1px 10px 6px;
-webkit-box-shadow: #dddddd 1px 1px 10px 6px;
-o-box-shadow: #dddddd 1px 1px 10px 6px;
box-shadow: #dddddd 1px 1px 10px 6px;
}
*/
svg {
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
}

footer {
	clear: both;
	background-color: #EEE;
	padding: 30px 0;
	margin-top: 100px;
	text-shadow: 0 1px 0 white;
	border-top: 1px solid #E5E5E5;
	-webkit-box-shadow: inset 0 5px 15px rgba(0, 0, 0, .025);
	font-size: 12px;
}

header {
	position: relative;
}
/**
Generic classes
*/
.clear {
	clear: both;
}
/**
Header section
*/
header h1 {
	margin: 0px;
	font-size: 48px;
	font-weight: bold;
}

header h3 {
	font-size: 18px;
	font-style: italic;
	font-weight: normal;
	line-height: 20px;
}

header p {
	font-size: 16px;
	vertical-align: baseline;
	text-align: center;
}

header .image {
	float: right;
	position: absolute;
	top: 10px;
	right: 10px;
}
/**
Section values
*/
section {
	clear: both;
}

section h2 {
	text-align: center;
	font-size: 36px;
	font-style: bold;
	text-transform: uppercase;
	border-bottom: 1px solid #880;
	padding-top: 50px;
}

/** Bar graph tops */
.topRounderCorners {
	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
}
/**
timelines
*/
.timeLine {
	min-height: 100px;
	padding-top: 100px;
}

.columns {
	float: left;
	text-align: center;
	border-left: 3px solid;
	height: 5px;
	margin-left: -3px;
}

.dataColumns {
	float: left;
	text-align: center;
	border: 1px solid;
	border-bottom-width: 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
	height: 50px;
}
/**
recommendation bullets
*/
.recommendation {
	clear: both;
	padding-top: 10px;
	padding-bottom: 20px;
	position: relative;
}

.recommendationType {
	text-transform: lowercase;
	font-size: 14px;
	font-style: italic;
	line-height: 20px;
}

.recommendedBy {
	font-size: 14px;
	float: left;
	line-height: 20px;
}

.recommendationText {
	font-size: 13px;
	text-align: justify;
	width: 750px;
	float: left;
	line-height: 20px;
}

.openQuote {
	width: 25px;
	float: left;
	font-size: 48px;
}

.closeQuote {
	width: 25px;
	float: left;
	text-align: right;
	font-size: 48px;
	position: absolute;
	bottom: -10px;
	right: 0px;
}

.recommendeeLeft {
	width: 100px;
	float: left;
	padding-right: 40px;
	margin-top: 1em;
}

.recommendeeRight {
	width: 100px;
	float: right;
	padding-left: 40px;
	margin-top: 1em;
}

.recommendationDetails {
	width: 800px;
	position: relative;
	display: table-row;
	float: left;
}
/** certifications */
.certName {
	float: left;
	font-size: 24px;
	font-style: italic;
}

.dates {
	float: right;
	font-size: 13px;
}

.authority {
	font-size: 14px;
}

.certificate {
	margin-bottom: 20px;
}
/**
SVG graph
*/
.svgGraph,.githubGraph {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
}

.graphGridLines {
	stroke: #ccc;
	fill: #ccc;
}

.trendLine {
	stroke: #ff0000;
}

.githubGraph {
	width: 900px;
}
/**
details of any heading with date
*/
.details {
	clear: both;
	position: relative;
}
/**
job positions
*/
.companyName {
	font-size: 24px;
	font-style: italic;
	float: left;
}

.title {
	font-size: 14px;
}

.summary {
	margin-top: 20px;
	font-size: 14px;
}

.position {
	margin-top: 25px;
}

.xAxisLabels,.yAxisLabels {
	font-size: 12px;
}

/**
schools
*/
.schoolName {
	font-size: 24px;
	font-style: italic;
	float: left;
}
/**
skills
*/
.skill {
	width: 310px;
	display: block;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
}

/**
interests
*/
.interestWrapper {
	text-align: center;
	position: relative;
}

.interest {
	min-height: 125px;
	width: 270px;
	display: block;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 20px;
	margin-left: 20px;
}
/**
repository styling
*/
.repository {
	clear: both;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.repositoryDetails {
	font-size: 12px;
	width: 400px;
	float: left;
}
.repositoryDetails h3 a {
	font-size: 16px;
}
.repositoryInfo {
	width: 450px;
	float: left;
	margin-left: 40px;
	margin-top: 1em;
}
.repositoryGraph {
	padding-top: 30px;
	min-height: 50px;
}
.repositoryDetails p {
	word-wrap: break-word;
	line-height: 20px;
}
.lastCommit {
	font-style: italic;
}
.repositoryStats, .repositoryStats span {
	font-size: 12px;
}
.weeklyGraphBar {
	stroke: #000000;
	fill: #000000;
}
.graphLegendText {
	font-size: 10px;
}

.graphWeekMark {
	stroke: #aaaaaa;
	stroke-width: 1;	
}
/**
awards
*/
.award {
	font-size: 14px;
}