<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US">
	<head>
		<title>$name</title>
	</head>
	<body>
		<header>
			<h1>$name</h1>
			<h3>$linkedin.headline</h3>
			<p>$linkedin.summary</p>
		</header>
		<section id="experience">
		</section>
		<section id="education">
		</section>
		<section id="awards">
		</section>
		<section id="patents">
		</section>
		<section id="publications">
		</section>
		<section id="skills">
		</section>
		<section id="interests">
		</section>
		<section id="recommendations">
		</section>
		<section id="openSource">
		</section>
		<footer>
		</footer>
	</body>
</html>
