<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US">
	<head>
		<title>$name</title>
		<link rel="stylesheet" type="text/css" href="resume.css" />
	</head>
	<body>
		<header>
			<h1>$name</h1>
			<h3>$linkedin.headline</h3>
			<p>$linkedin.summary</p>
			<div class="image"><img src="$gravatarURL" /></div>
		</header>


		<!-- ************************************************************
			POSITIONS
		************************************************************* -->
		#if($linkedin.positions.size() > 0)
		<section id="experience">
			<h2>Experience</h2>
			<article>
				<div class="svgGraph">
					$positionsTimeLine
				</div>
				<div>
					#foreach($pos in $linkedin.positions)
					<div class="position">
						<div class="companyName">$pos.company.name</div>
						<div class="dates">#linkedInDates($pos.startDate, $pos.endDate, "<unknown>", "Present")</div>
						<div class="details">
							<div class="title">$pos.title</div>
							<div class="summary">#markdown($pos.summary)</div>
						</div>
					</div>
					#end
				</div>
			</article>
		</section>
		#end


		<!-- ************************************************************
			CERTIFICATIONS
		************************************************************* -->
		#if($linkedin.certifications && $linkedin.certifications.size() > 0)
		<section id="certifications">
			<h2>Certifications</h2>
			<article>
				#foreach($cert in $linkedin.certifications)
					<div class="certificate">
						<div class="certName">$cert.name</div>
						<div class="dates">#linkedInDates($cert.startDate, $cert.endDate)</div>
						<div class="details">
							<div class="authority">$cert.authority.name</div>
						</div>
					</div>
				#end
			</article>
		</section>
		#end

		
		<!-- ************************************************************
			AWARDS
		************************************************************* -->
		#if($linkedin.awards && $linkedin.awards.size() > 0) 
		<section id="awards">
			<h2>Awards &amp; Honors</h2>
			<article>
				#foreach($award in $linkedin.awards)
					<div class="award">$award</div>
				#end
			</article>
		</section>
		#end


		<!-- ************************************************************
			PATENTS
		************************************************************* -->
		#if($linkedin.patents.size() > 0)
		<section id="patents">
			<h2>Patents</h2>
		</section>
		#end

		<!-- ************************************************************
			PUBLICATIONS
		************************************************************* -->
		#if($linkedin.publications.size() > 0)
		<section id="publications">	
			<h2>Publications</h2>
		</section>
		#end

		<!-- ************************************************************
			SKILLS
		************************************************************* -->
		#if($linkedin.skills.size() > 0)
		<section id="skills">
			<h2>Skills</h2>
			<article>
				#foreach($skill in $linkedin.skills)
					<div class="skill">$skill.skill.name</div>
				#end
			</article>
		</section>
		#end

		<!-- ************************************************************
			EDUCATION
		************************************************************* -->
		#if($linkedin.educations.size() > 0)
		<section id="education">
			<h2>Education</h2>
			<article>
				<div class="svgGraph">
					$educationTimeLine
				</div>
				<div>
					#foreach($edu in $linkedin.educations)
					<div class="education">
						<div class="schoolName">$edu.schoolName</div>
						<div class="dates">#linkedInDates($edu.startDate, $edu.endDate)</div>
						<div class="details">
							<div class="degree">
								#if($edu.degree)
									$edu.degree
								#end
								#if($edu.fieldOfStudy)
									#if($edu.degree)
										,
									#end
									$edu.fieldOfStudy
								#end
							</div>
							<div class="summary">
								#if($edu.activities)
									$edu.activities
								#else
									&nbsp;
								#end
							</div>
							<div class="notes">
								#if($edu.notes)
									#markdown($edu.notes)
								#else
									&nbsp;
								#end
							</div>
						</div>
					</div>
					#end
				</div>
			</article>
		</section>
		#end
		
		<!-- ************************************************************
			INTERESTS
		************************************************************* -->
		#if($linkedin.interests && $linkedin.interests.size() > 0)
		<section id="interests">
			<h2>Interests</h2>
			#foreach($name in $linkedin.interests)
				<div class="interest">$name</div>
			#end
		</section>
		#end

		<!-- ************************************************************
			RECOMMENDATIONS
		************************************************************* -->
		#if($linkedin.recommendations.size() > 0)
		<section id="recommendations">
			<h2>Recommendations</h2>
			<article>
				#set($className = $alternator.auto('Left', 'Right'))
				#foreach($rec in $linkedin.recommendations)
					<div class="recommendation">
						<div class="recommendee$className">
							<div class="recommendedBy">$rec.recommender.firstName $rec.recommender.lastName</div>
							<div class="recommendationType">$rec.recommendationType.code.name()</div>
						</div>
						<div class="recommendationDetails">
							<div class="openQuote" >&#147;</div>
							<p class="recommendationText">$rec.recommendationText</p>
							<div class="closeQuote" >&#148;</div>
						</div>
					</div>
				#end
			</article>
		</section>
		#end

		<!-- ************************************************************
			OPEN SOURCE
		************************************************************* -->
		#if($github)
		<section id="openSource">
			<h2>Open Source</h2>
			<article>
				<div class="githubGraph">
					$githubGraph
				</div>
			</article>
			<article>
				<h3>Projects</h3>
				#foreach($repo in $github.repositories)
					<div class="row">
						<h4>$repo.name&nbsp;
							#if($repo.language)
								<small>$repo.language</small>
							#end
						</h4>
						<p>$repo.description</p>
						<div>Watchers: $repo.watchers, Forks: $repo.forks</div>
						<div>Last commit on $repo.lastPushed.toString()</div>
					</div>
				#end
			</article>
		</section>
		#end
		<footer>
			Generated using <a href="#">ResumeMaker</a> on $createdOn.toString()
		</footer>
	</body>
</html>
